.navBar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background: var(--design-bg-color-5);
  border-bottom: 1px solid var(--design-neutral-color-6);
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  // z-index: 1;
}