.TicketDetails {
  .orderDetail {
    margin-left: 108px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 200px;

    .orderLeft {
      width: 444px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }


  }
}