.zlManagerSevenWrapper {
  display: flow-root;
  .types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-style: normal;
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: var(--design-font-size-18);
      color: var(--design-base-color);
    }
    .fen {
    }
  }
  .charts {
    display: flex;
    & > div {
      flex: 1;
    }
    .in {
      .desc {
        color: var(--design-neutral-color);
        opacity: 0.6;
      }
      .file {
        margin-top: 26px;
      }
    }
  }
}
