:root {
  color: var(--design-neutral-color9);
  background-color: var(--design-neutral-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--design-neutral-color);
    background-color: var(--design-neutral-color-9);
  }
}

:root {
  --design-charts-type1-color: #5A3FFF;
  --design-charts-type1-color-1: #4832CC;
  --design-charts-type1-color-2: #362699;
  --design-charts-type1-color-3: #241966;
  --design-charts-type1-color-4: #120D33;

  --design-charts-type2-color: #268AFF;
  --design-charts-type2-color-1: #1F6ECC;
  --design-charts-type2-color-2: #175399;
  --design-charts-type2-color-3: #0F3766;
  --design-charts-type2-color-4: #081C33;

  --design-charts-type3-color: #18FEFE;
  --design-charts-type3-color-1: #09D2D9;
  --design-charts-type3-color-2: #00A7B3;
  --design-charts-type3-color-3: #007E8C;
  --design-charts-type3-color-4: #005866;
  
  --design-charts-type4-color: #3DFFDC;
  --design-charts-type4-color-1: #30CCB0;
  --design-charts-type4-color-2: #249984;
  --design-charts-type4-color-3: #186658;
  --design-charts-type4-color-4: #0C332C;

  --design-charts-type5-color: #06F7A1;
  --design-charts-type5-color-1: #00D18F;
  --design-charts-type5-color-2: #00AB7A;
  --design-charts-type5-color-3: #008563;
  --design-charts-type5-color-4: #005E4A;
  
  --design-charts-type6-color: #ADE1FF;
  --design-charts-type6-color-1: #8BB4CC;
  --design-charts-type6-color-2: #688799;
  --design-charts-type6-color-3: #455A66;
  --design-charts-type6-color-4: #232D33;
  
  --design-charts-type7-color: #FBE947;
  --design-charts-type7-color-1: #D4BE31;
  --design-charts-type7-color-2: #AD961F;
  --design-charts-type7-color-3: #877012;
  --design-charts-type7-color-4: #614D0C;
  
  --design-charts-type8-color: #FF9900;
  --design-charts-type8-color-1: #D97B00;
  --design-charts-type8-color-2: #B35F00;
  --design-charts-type8-color-3: #8C4600;
  --design-charts-type8-color-4: #663000;
  
  --design-charts-type9-color: #FF483D;
  --design-charts-type9-color-1: #D92C29;
  --design-charts-type9-color-2: #B3191C;
  --design-charts-type9-color-3: #8C0D13;
  --design-charts-type9-color-4: #660810;
  
  --design-charts-type10-color: #EF7BE3;
  --design-charts-type10-color-1: #C95DC2;
  --design-charts-type10-color-2: #A343A0;
  --design-charts-type10-color-3: #7D2D7D;
  --design-charts-type10-color-4: #551E57;

}