:root {
  color: var(--design-text-color-5);
  background-color: var(--design-bg-color-5);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--design-neutral-color);
    background-color: var(--design-neutral-color-9);
  }
} */
.design-drawer {
  top: 80px !important;
}

:root {
  --design-charts-type1-color: #5a3fff;
  --design-charts-type1-color-1: #4832cc;
  --design-charts-type1-color-2: #362699;
  --design-charts-type1-color-3: #241966;
  --design-charts-type1-color-4: #120d33;

  --design-charts-type2-color: #268aff;
  --design-charts-type2-color-1: #1f6ecc;
  --design-charts-type2-color-2: #175399;
  --design-charts-type2-color-3: #0f3766;
  --design-charts-type2-color-4: #081c33;

  --design-charts-type3-color: #18fefe;
  --design-charts-type3-color-1: #09d2d9;
  --design-charts-type3-color-2: #00a7b3;
  --design-charts-type3-color-3: #007e8c;
  --design-charts-type3-color-4: #005866;

  --design-charts-type4-color: #3dffdc;
  --design-charts-type4-color-1: #30ccb0;
  --design-charts-type4-color-2: #249984;
  --design-charts-type4-color-3: #186658;
  --design-charts-type4-color-4: #0c332c;

  --design-charts-type5-color: #06f7a1;
  --design-charts-type5-color-1: #00d18f;
  --design-charts-type5-color-2: #00ab7a;
  --design-charts-type5-color-3: #008563;
  --design-charts-type5-color-4: #005e4a;

  --design-charts-type6-color: #ade1ff;
  --design-charts-type6-color-1: #8bb4cc;
  --design-charts-type6-color-2: #688799;
  --design-charts-type6-color-3: #455a66;
  --design-charts-type6-color-4: #232d33;

  --design-charts-type7-color: #fbe947;
  --design-charts-type7-color-1: #d4be31;
  --design-charts-type7-color-2: #ad961f;
  --design-charts-type7-color-3: #877012;
  --design-charts-type7-color-4: #614d0c;

  --design-charts-type8-color: #ff9900;
  --design-charts-type8-color-1: #d97b00;
  --design-charts-type8-color-2: #b35f00;
  --design-charts-type8-color-3: #8c4600;
  --design-charts-type8-color-4: #663000;

  --design-charts-type9-color: #ff483d;
  --design-charts-type9-color-1: #d92c29;
  --design-charts-type9-color-2: #b3191c;
  --design-charts-type9-color-3: #8c0d13;
  --design-charts-type9-color-4: #660810;

  --design-charts-type10-color: #ef7be3;
  --design-charts-type10-color-1: #c95dc2;
  --design-charts-type10-color-2: #a343a0;
  --design-charts-type10-color-3: #7d2d7d;
  --design-charts-type10-color-4: #551e57;
}
